/* В нормалізаторі modern-normalize за замовчуванням заданий глобальний border-box,
тому в своїх стилях його можна не вказувати.

        html {
            box-sizing: border-box;
        }

        *,
        *::before,
        *::after {
            box-sizing: inherit;
        } */

body {
    font-family: 'Roboto', 'Tahoma', sans-serif;
    color: #757575;
    margin: 0;
}

h1 h2 h3 h4 h5 h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

/* Для коротшого запису можна використовувати збірну властивість margin,
задавши нульові вертикальні відступи і автоматичні горизонтальні.
Якщо задати автоматичні лівий і правий відступи,
вільний простір розподіляється порівну між ними і блоковий елемент центрується. */

.container {
    width: 1600px;
    margin: 0;
}

.section {
    margin: 94px auto;
}

:root {
    --black-color: #212121;
    --blue-color: #2196F3;
    --white-color: #FFFFFF;
    --hero-section-bg: #2F303A;
    --letter-spacing-02: 0.02em;
    --letter-spacing-03: 0.03em;
    --letter-spacing-06: 0.06em;
    --line-height-1: 1;
    --line-height-1-36: 1.36;
    --line-height-1-714: 1.714;
    --line-haight-1-625: 1.625;

}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.cursor {
    cursor: pointer;
}


.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts:hover,
.header-contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--blue-color);
}

.header a,
.footer a {
    text-decoration: none;

}


.header-logo,
.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: var(--letter-spacing-03);
    line-height: var(--line-height-1);
    color: var(--black-color);
    width: 145px;
    height: 31px;


}

.header-logo-color,
.footer-logo-color {
    color: var(--blue-color);
}

.footer-logo-color-text {
    color: var(--white-color);
}

.header {
    height: 80px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;

}

.header-top-logo {

    padding-top: 24px;
    padding-left: 215px;

}

.header-nav {
    width: 281px;
    height: 16px;
    padding-top: 32px;
    margin-left: 93px;


}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

.header-nav-link {

    font-weight: 500;
    font-size: 14px;
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-02);
    color: var(--black-color);



}



.header-contacts {

    font-weight: 500;
    font-size: 14px;


    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-02);

    color: inherit;


}

.header-contacts-mail {
    display: inline-block;

    width: 161px;
    height: 16px;
    padding-top: 32px;
    margin-left: 344px;



}


.header-contacts {
    /* background-color: rgb(0, 195, 255); */
    display: inline-flex;
    align-items: center;

}

.header-contacts.mail::before {
    content: '';
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-image: url('../images/envelope.svg');
    background-size: contain;
    background-repeat: no-repeat;



}

.header-contacts-phone {
    width: 142px;
    height: 16px;
    padding-top: 32px;
    margin-left: 50px;
}


.phone::before {
    content: '';
    width: 10px;
    height: 16px;
    margin-right: 10px;
    background-image: url('../images/smartphone.svg');
    background-size: contain;
    background-repeat: no-repeat;

}

.main-div {

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');

    background-color: #C4C4C4;

    height: 600px;
    max-width: 1600px;
    text-align: center;

    border: 1px solid rgba(238, 238, 238, 1)
}

.hero-title {
    display: inline-block;
    font-weight: 900;
    font-size: 44px;
    line-height: var(--line-height-1-36);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-06);
    color: var(--white-color);

    margin: 0;
    padding-top: 200px;

    /* background-color: red; */
}



.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: var(--letter-spacing-06);
    color: var(--white-color);
    background-color: var(--blue-color);
    min-width: 216px;
    height: 50px;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px 0px #00000026;

    margin-top: 30px;

    /* display: inline-block; */

}

.block-second {
    width: 1200px;
    height: 248px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    /* padding: 94px 215px; */
    /* background-color: #39ef02; */

    /* display: inline-block; */
}

.block-second-list {
    display: flex;
    justify-content: space-between;

}



.main-block-second-article {
    width: 270px;
    /* height: 248px; */



}

.main-block-second {

    font-weight: 700;
    font-size: 14px;
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-03);
    text-transform: uppercase;
    color: var(--black-color);
    height: 16px;
    margin-top: 0;
    margin-top: 30px;
    margin-bottom: 10px;

}


.main-block-second-text {
    font-weight: 400;
    font-size: 14px;
    line-height: var(--line-height-1-714);
    height: 72px;
}


.block-second-li::before {
    content: "";
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.block-second-li:nth-child(1)::before {
    background-image: url('../images/antenna.svg'), linear-gradient(to right, rgba(245, 244, 250, 1));
}

.block-second-li:nth-child(2)::before {
    background-image: url('../images/clock.svg'), linear-gradient(to right, rgba(245, 244, 250, 1));
}

.block-second-li:nth-child(3)::before {
    background-image: url('../images/computer_diagram.svg'), linear-gradient(to right, rgba(245, 244, 250, 1));
}

.block-second-li:nth-child(4)::before {
    background-image: url('../images/astronaut.svg'), linear-gradient(to right, rgba(245, 244, 250, 1));
}

.main-block-third {
    width: 1200px;
    height: 386px;
    padding-right: 15px;
    padding-left: 15px;

}


.main-block-third-list {

    display: flex;
    justify-content: space-between;

}


.main-block-third-text {


    font-size: 36px;
    text-align: center;
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-03);
    color: var(--black-color);
    margin: 0 auto 50px;

}



.main-block-forth {
    background-color: #F5F4FA;
    height: 708px;
    margin-bottom: 0;
}

.main-block-forth-title {

    font-size: 36px;
    text-align: center;
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-03);
    color: var(--black-color);
    padding-top: 94px;
    margin: 0;
}

.main-block-forth-list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 428px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 50px auto;

}

.main-block-forth-card {

    background-color: var(--white-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow:
        0px 2px 1px 0px #00000033,
        0px 1px 1px 0px #00000024,
        0px 1px 3px 0px #0000001F;
    box-sizing: border-box;


}

.main-block-forth-ul {
    width: 206px;
    height: 44px;
    margin-top: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: space-between;
}


.link {
    display: flex;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: 20px;

}

.link-instagram {
    background-image: url('../images/instagram_card.svg');
}

.link-twitter {
    background-image: url('../images/twitter_card.svg');
}


.link-facebook {
    background-image: url('../images/facebook_card.svg');
}

.link-linkedin {
    background-image: url('../images/linkedin_card.svg');
}



.main-block-forth-h3 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-03);
    color: var(--black-color);
    height: 19px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.main-block-forth-p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-03);
    height: 19px;

}



.main-block-fifth {
    width: 1170px;
    height: 184px;
    margin: 94px auto;
    text-align: center;

}

.main-block-fifth-text {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: var(--letter-spacing-03);
    line-height: var(--line-height-1);
    color: var(--black-color);
    margin: 0;




}

.main-block-fifth-ul {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.main-block-fifth-clients::before {

    display: flex;
    content: "";
    width: 170px;
    height: 92px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(175, 177, 184, 1);

}

.client-1::before {
    background-image: url('../images/client_1.svg');
}

.client-2::before {
    background-image: url('../images/client_2.svg');
}

.client-3::before {
    background-image: url('../images/client_3.svg');
}

.client-4::before {
    background-image: url('../images/client_4.svg');
}

.client-5::before {
    background-image: url('../images/client_5.svg');
}

.client-6::before {
    background-image: url('../images/client_6.svg');
}


/* Footer */



.footer {
    background-color: var(--hero-section-bg);
    height: 252px;
    display: inline-flex;
}

.footer-bottom-logo {
    padding-top: 60px;
    padding-left: 215px;
    max-width: calc(145px + 215px);


    /* display: block; */


}

.footer-adress-block {
    font-style: normal;
    max-width: calc(231px + 215px);
    height: 81px;


    margin-top: 20px;
    padding-left: 215px;

    display: block;


}


.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: var(--line-height-1-714);
    letter-spacing: var(--letter-spacing-03);
    color: var(--white-color);
    height: 21px;
    margin-bottom: 9px;


}

.footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: var(--line-height-1-714);
    letter-spacing: var(--letter-spacing-03);
    color: inherit;
    width: 231px;
    height: 21px;


}

.footer-mail {
    margin-bottom: 9px;

}


.footer-social-links {
    width: 206px;
    height: 80px;
    margin-top: 72px;
    margin-left: 70px;



}

.footer-social-links-h3 {
    width: 116px;
    height: 16px;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: var(--letter-spacing-03);
    color: var(--white-color);
    text-transform: uppercase;


}

.footer-social-links-ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    width: 206px;
    height: 44px;


}



.footer-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    border-radius: 50%;

}


.footer-link-instagram {
    background-image: url('../images/instagram__footer.svg');

}

.footer-link-twitter {
    background-image: url('../images/twitter_footer.svg');
}


.footer-link-facebook {
    background-image: url('../images/facebook_footer.svg');
}

/* сторінка Портфоліо */
.footer-link-linkedin {
    background-image: url('../images/linkedin__footer.svg');
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-haight-1-625);
    letter-spacing: var(--letter-spacing-03);
    text-align: center;
    border: transparent;
    border-radius: 4px;
    height: 38px;
    background: #F5F4FA;

}


.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow:
        0px 2px 2px 0px #0000001F,
        0px 1px 2px 0px #00000014,
        0px 3px 1px 0px #0000001A;
}


.portfolio {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* height: 1360px; */
    /* margin: 94px auto;  */

}


.portfolio-filters-list {
    width: 575px;
    height: 54px;
    display: flex;
    justify-content: center;
    gap: 8px;

    /* padding-top: 94px;
            padding-left: 512px; */

    margin: 0 auto;

}

.portfolio-btn-one {
    min-width: 73px
}

.portfolio-btn-two {
    min-width: 125px
}

.portfolio-btn-three {
    min-width: 112px
}

.portfolio-btn-four {
    min-width: 103px
}

.portfolio-btn-five {
    min-width: 130px
}


.portfolio-cards-list {
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;



}

.portfolio-card {
    /* width: 370px; */
    /* height: 404px; */
    border-bottom: 1px solid #EEEEEE;
    flex-basis: calc((100% - 60px) / 3);
    box-sizing: border-box;
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow:
        1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-card-description {
    width: 322px;
    height: 70px;
    margin: 20px 24px;
}

.portfolio-card-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 0.5;
    color: var(--black-color);
    height: 36px;
    margin: 0;

}

.portfolio-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.5;
    color: #757575;
    height: 30px;
    margin-top: 4px;
}